:root {
  --solitadgray: rgb(40,40,40);
  --solitamgray: rgb(61,61,61);
  --solitalgray: rgb(154,154,154);
  --solitavlgray: rgb(229,229,229);
  --solitared: rgb(220,30,50);
}

* {
  font-family: 'Karma', serif;
}